<%= form_for(@word) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  	<%= f.submit :entry_id, :value => @entry.id %>
    <%= f.text_area :comment, placeholder: "Compose new comment..." %>  
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>